
@media only screen and (min-width:1025px) {
.container {width:100%;max-width:1340px}
#content-column,.content-column,div.sidebar {float: left; clear: none}
.two-sidebars .content-inner {margin-left: 25%; margin-right: 25%}
.sidebar-first .content-inner {margin-left: 25%; margin-right: 0}
.sidebar-second .content-inner {margin-right: 25%; margin-left: 0}
.region-sidebar-first {width: 25%; margin-left: -100%}
.region-sidebar-second {width: 25%; margin-left: -25%}
.at-panel .region {display:inline;float:left}.three-25-50-25 > .region,.three-25-25-50 > .region,.three-50-25-25 > .region,.three-inset-left > .region-three-inset-left-sidebar,.three-inset-right > .region-three-inset-right-sidebar,.doc-three-inset-left .region-doc-three-inset-left-sidebar,.doc-two-75-25 > .panel-inner > .region-doc-two-75-25-second,.doc-two-25-75 > .panel-inner > .region-doc-two-25-75-first {width:25%}.three-25-50-25 > div.region-three-25-50-25-second,.three-25-25-50 > div.region-three-25-25-50-third,.three-50-25-25 > div.region-three-50-25-25-first,.doc-three-inset-left > .panel-inner > .inset-wrapper > div.region-doc-three-inset-left-inset,.doc-three-inset-left > .panel-inner > .inset-wrapper > div.region-doc-three-inset-left-middle,.two-50 > .region,.two-brick > .panel-row > .region,.doc-two-50 > .region,.five-5x20 > .row-1 div.region-five-first,.five-5x20 .row-1 div.region-five-second {width:50%}.three-3x33 > .region,.three-inset-left > .inset-wrapper > div.region-three-inset-left-inset,.three-inset-right > .inset-wrapper > div.region-three-inset-right-inset,.two-33-66 > .region-two-33-66-first,.two-66-33 > .region-two-66-33-second,.doc-two-brick-alt > .panel-row > .region-doc-two-brick-alt-left-below,.doc-two-brick-alt > .panel-row > .region-doc-two-brick-alt-right-above,.five-5x20 > .panel-row > .region {width:33.333333%}.three-inset-left > .region-three-inset-left-sidebar,.three-inset-left > .inset-wrapper,.three-inset-left > .inset-wrapper > .region-three-inset-left-middle,.doc-three-inset-left > .panel-inner > .inset-wrapper > .region-doc-three-inset-left-sidebar,.doc-three-inset-left > .panel-inner > .inset-wrapper > .region-doc-three-inset-left-inset,.doc-two-25-75 > .panel-inner > .region-doc-two-25-75-second-top,.doc-two-25-75 > .panel-inner > .region-doc-two-25-75-second-bottom {float:right}.three-inset-left > .inset-wrapper,.doc-three-inset-left > .panel-inner > .inset-wrapper,.doc-two-75-25 > .panel-inner > .region-doc-two-75-25-first-top,.doc-two-75-25 > .panel-inner > .region-doc-two-75-25-first-bottom,.doc-two-25-75 > .panel-inner > .region-doc-two-25-75-second-top,.doc-two-25-75 > .panel-inner > .region-doc-two-25-75-second-bottom {width:75%}.three-inset-left > .inset-wrapper > div.region-three-inset-left-middle,.three-inset-right > .inset-wrapper > div.region-three-inset-right-middle,.two-33-66 > .region-two-33-66-second,.two-66-33 > .region-two-66-33-first,.doc-two-brick-alt > .panel-row > .region-doc-two-brick-alt-left-above,.doc-two-brick-alt > .panel-row > .region-doc-two-brick-alt-right-below {width:66.666666%}.three-inset-left > .inset-wrapper > .region,.three-inset-right > .inset-wrapper > .region,.doc-three-inset-left > .panel-inner > .inset-wrapper > .region {width:100%}.three-inset-right > .inset-wrapper {width:75%;float:left}.doc-three-inset-left > .panel-inner > .inset-wrapper > .region-doc-three-inset-left-middle, .doc-three-inset-left > .panel-inner > .inset-wrapper,.doc-two-25-75 > .panel-inner > .region-doc-two-25-75-first {float:left}.two-brick > .panel-row,.doc-two-brick-alt > .panel-row {float:none}.six-6x16 > .panel-row {width:33.333333%;float:left}.six-6x16 > .panel-row > .region,.five-5x20 > .panel-row {float:none;display:block;width:100%;clear:both}.four-4x25 > .panel-row > .region,.four-4x25 > .panel-row {width:50%;float:left}
}

.header-content-inner{
  padding-top: 150px;
  padding-bottom: 150px;
}

.header-content-inner > h1{
  font-size: 75px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .header-content-inner > h1 {
    font-size: 52px;
  }
}

#services {
	padding-left: 75px;
	padding-right: 75px;
}

.searchColorText {
    color: black;
}

.setBlueBackground {
  background-color: #002952;
}

.our-team-title{
  color: white;
  padding-top: 50px;
}

.darken {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/header.jpg);
}

.class-row {
  padding-top: 30px;
}

.set-as-white {
  color: white;
}

.font-medium {
  font-size: medium;
}

.font-large {
  font-size: large;
}

/* This is the for the mobile icons to show as DoC IT would like them to show
 */
#mobile-menu .region-mobile-menu .block-menu-engage-follow span.title {
  display: none;
}

.region-mobile-menu .block-menu-engage-follow ul.menu {
  text-align: center;
}
.region-mobile-menu .block-menu-engage-follow ul.menu li {
  display: inline-block;
}
.region-mobile-menu .block-menu-engage-follow ul.menu li a {
  border: none !important;
  text-align: center;
  background: none;
}
.region-mobile-menu .block-menu-engage-follow ul.menu li a:hover {
  background: none;
  color: inherit;
}
.region-mobile-menu .block-menu-engage-follow ul.menu li a:before, .region-mobile-menu .block-menu-engage-follow ul.menu li .polyfill-icon {
  margin-right: 0;
  color: green;
}

.mobileIconDiv span {
  display: none;
}

.site_buttons a {
  margin-top: 80px;
}

#about .panel-body {
  color: black;
  text-align: left;
}
