.setWhiteBackground {
	background-color: white;
}

.setBlueBackground {
	background-color: #002952;
}

.setYellowBackground {
	background-color: #879bb9;
}

.portfolio-modal .modal-content p {
	margin-bottom: 18px;
	line-height: 1.6;
}

.nameOnModal {
	margin-top: 0px;
}

.circlePic {
	border-radius: 50%;
}

.container .mix {
	background: #879bb9;
}

.datacorps .setYellowBackground {
	padding-bottom: 0px;
}

.modalsetYellowBackground .modal-content {
	margin: 40px 60px 0px 60px;
}