
#secondContainer {
  float: right;
  visibility: hidden;
}

/* This is the CSS for the close modal */
div.close-modal {
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
  position: static;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
  padding-left: 20px;
  padding-top: 15px;
}

/* These next two create the X for the close modal*/
div.close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #222;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

div.close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  margin-left: 1px;
  background-color: #222;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

div.modal {
	margin: auto;
	padding-left: 30px;
  padding-top: 30px;
}

#modalName p {
  font-weight: bold;
}

div.modal-content {
  padding-top: 20px;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 

    /* This is the CSS for the close modal */
    div.close-modal {
      float: left;
      margin-right: 30px;
      margin-bottom: 300px;
      position: static;
      top: 25px;
      right: 25px;
      width: 75px;
      height: 75px;
      background-color: transparent;
      cursor: pointer;
      padding-left: 20px;
      padding-top: 15px;
    }

    /* These next two create the X for the close modal*/
    div.close-modal .lr {
      z-index: 1051;
      width: 1px;
      height: 60px;
      margin-left: 35px;
      background-color: #222;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    div.close-modal .lr .rl {
      z-index: 1052;
      width: 1px;
      height: 60px;
      margin-left: 1px;
      background-color: #222;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    }

    div.modal {
      margin-left: 100px;
      margin-top: 75px;
    }

    #modalName p {
      font-size: 37px;
      font-weight: bold;
    }

    #modalInitiative p {
      font-size: 29px;
    }

    #modalServices p {
      font-size: 29px;
    }

    #modalObjective p {
      font-size: 29px;
    }
}
